body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
  }

  h3, h4 {
    font-weight: lighter;
  }
  
code, pre {
font-family: 'Courier New', Courier, monospace;
}

footer {
    background-color: #333;
    color: #fff;
    padding-top: 3rem;
    text-align: center;
    font-size: 13px;
  }

.sidebar {
  background-color: #333;
  color: #fff;
  font-size: 14px;
  margin-right: 7rem;
}

.content {
  max-width: 30rem;
}

.scrollable {
  height: 20rem;
  /* border: 1px solid red; */
  overflow-y: scroll;
}

.sidebar a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-radius: 2px;
}

.sidebar a:hover {
  background-color: #555;
}

/* Media query for screens smaller than 768px */
@media (max-width: 767px) {
  .sidebar {
    display: none;
  }
  
  .content {
    margin-left: 0;
  }
}
  