body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #333;
    color: #fff;
    height: 97vh;
  }

  h3, h4 {
    font-weight: lighter;
  }
  
code, pre {
font-family: 'Courier New', Courier, monospace;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.sidebar {
  background-color: #333;
  color: #fff;
  font-size: 14px;
  width: 200px;
  /* margin-right: 7rem; */
}

.content {
  max-width: 40rem;
  flex-grow: 1;
  padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    /* padding-top: 3rem; */
    text-align: center;
    font-size: 13px;
  }

.scrollable {
  max-height: 20rem;
  /* border: 1px solid red; */
  overflow-y: scroll;
}

.link_list a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-radius: 2px;
}

.link_list a:hover {
  background-color: #555;
}

.sidebar a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-radius: 2px;
}

.sidebar a:hover {
  background-color: #555;
}

.bottom-nav {
  display: none;
}

.bottom-nav a {
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-radius: 2px;
  font-size: 11px;
  cursor: pointer;
}

.bottom-nav a:hover {
  text-decoration: underline;
}


/* Media query for screens smaller than 768px */
@media (max-width: 767px) {
  .sidebar {
    display: none;
  }
  
  .content {
    margin-left: 0;
  }

  .bottom-nav {
    display: block;
    text-align: center;
  }
}
  